html {
  height: 100%;
}

body {
  /*padding-top: 50px;*/
  height:100%;
  /*background: #2f3135;*/
  background: whitesmoke;
  font-family: 'Quicksand';
}


h3 {
  border-bottom: 1px solid #ccc;
  padding: 0% 0% 2% 1%;
}

h4 {
  font-size: 16pt;
}

#cloud-pos, #cloud-neg {
  padding-top: 5%;
  width: 60vh;
  height: 600px;
}

#percentage {
  font-size: 14pt;
  width: 100%;
}

#emoji {
  width: 12%;
  float: left;
}

#percentage-text {
  width:70%;
  margin-right: 18%;
  float:right;
}

#overview-stats {
  width: 50%;
  /*box-shadow: 1px 1px 10px 1px #acabab;*/
  
}

#cloud{
  height: 600px;
  width: 100%;
  margin: 0 auto;
}
.table {
  background:whitesmoke;
}
#table-content {
  max-height: 100%;
  padding: 1% 2%;
  overflow: scroll;
}
.wrapper {
  height: 650px;
  padding: 0;
  border-radius: 4px;
  border: .5px solid lightgray;
}

/* Tabs */
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #222;
  color: whitesmoke;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  border-bottom: 1.5px solid whitesmoke;
  border-radius: 6px 6px 0px 0px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(143, 143, 143);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: whitesmoke;
  color: #222;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
}

#loading_text{
  margin-top: 45px;
  margin-left: -88px;
  font-size: 20pt;
  font-family: "Quicksand";
  position: relative;
  top: 50%;
  left: 50%;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0);
  }
  100% {
      -webkit-transform: rotate(-360deg);
  }
}